body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color:blue;
  display: inline-block;
}

.masterContainer {
  display: flex;
  
}

.scores {
  display: flex;
  border: 1px solid black;
  width: 15vw;
  align-items: baseline;
  justify-content: space-between;
}

.scoreTable {
  width: 15vw;
}

#refreshBtn {
  height: 1.5rem;
}

.information {
  margin-left: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

input {
  padding: .2rem;
  border: 2px solid black;
}

.form button {
  width: 3.8rem;
  background-color: white;
  
  border: 2px solid black;
}