body {
  background-color: rgb(249, 248, 247);
  font-family: 'Comic Neue', cursive;
  background-image: url('./tetris2.jpg');
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  /* margin-right: 20rem; */
  font-size: 3.5rem;
  margin-bottom: 0;
  color: aqua;
  font-weight: 600;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.2px;
}

h2 {
  color: rgb(213, 145, 43);
  font-size: 2rem;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.1px;
}

.masterContainer {
  display: flex;
}

.scores {
  display: flex;
  width: 20vw;
  align-items: baseline;
  margin: 0;
  justify-content: space-between;
}

#scoreTable > :nth-child(even) {
  background-color: rgb(158, 154, 154);
}

#scoreTable {
  width: 20vw;
  border: 1px solid black;
  border-radius: 6px;
  background-color: cadetblue;
}

p {
  margin: 0;
  padding: 0.5rem 5px;
}

#refreshBtn {
  height: 1.5rem;
  border: 2px solid black;
  background-color: white;
  box-shadow: 3px 3px 4px 4px lightgray;
  margin-right: 8px;
}

.information {
  margin-left: 3rem;
}

.totalInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: auto
}

input {
  padding: 0.2rem;
  border: 2px solid black;
  width: 12rem;
  padding: 0.35rem;
}

.totalInfo button {
  width: 3.8rem;
  background-color: white;
  box-shadow: 3px 3px 4px 4px lightgray;
  border: 2px solid black;
  margin-right: 8px;
}
